p{
    color: red;
    border: 1px solid blue;
}

.batch2{
    font-size:30px;
    border:3px solid brown;
}

#IdSelector{
    background-color: lightblue;
    border: 10px solid red;
}

*{
    font-style: italic;
    border: 1px solid green;
}


/*Universal tag selector < tag selector < Class selector < Id selector < Inline styling */